body{
    background-color: rgb(230, 255, 255);
    color: rgb(56, 50, 56);
    margin: 0;
    font-family: "Poppins", sans-serif;
}
header{
    text-align: center;
    color: white;
    padding: 2em 5%;
    background-color: #009393;
}

.btn{
    font: inherit;
    color: white;
    padding: 0.5em 1.5em;
    background-color: #009393;
    border: 1px solid #009393;
    border-radius: 4px;
    cursor: pointer;
}
.btn_alt{
    background-color: transparent;
    border-color: transparent;
    color: #009393;
}
.btn:hover{
    background-color: #016170;
    border-color: #016170;
}
.btn_alt:hover{
    background-color: rgb(245, 255, 255);
    border-color: transparent;
}